.react-calendar{
  border: 0;
}
.react-calendar.is-loading-true{
  pointer-events: none;
  opacity: 0.5;
}

.react-calendar__month-view__days__day{
  color: #000;
}
button.react-calendar__tile:disabled{
  color: grey;
}
.sh-time-disabled{
  text-decoration: line-through;
  opacity: .7;
}